* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu';
    max-width: 1920px;
    margin: 0 auto;
    background-color: #050020;
    color: white;
}

header {
    background: url('../assets/banner-bg.jpg');
    height: 1200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    position: relative;
    margin-bottom: 200px;
}

nav {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    box-shadow: 0 0 10px rgba(68, 0, 255, 0.09);
    backdrop-filter: blur(20px);
}

nav h2 {
    font-family: 'Paytone One';
    font-size: 32px;
    font-weight: 500;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 60px;
}

nav ul li a {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
    transition: all 0.2s ease-in-out;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.btn {
    color: #050020;
    font-weight: 700;
    font-size: 18px;
    background-color: rgb(250, 246, 255);
    padding: 18px 36px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.09);
    box-shadow: 0 0 10px rgba(68, 0, 255, 0.09);
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.09);
    color: white;
    scale: 0.90;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn:active {
    scale: 0.82;
    background-color: rgba(255, 255, 255, 0.08);
    color: white;
}

.btn2 {
    color: white;
    font-weight: 700;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.09);
    border: 1px solid rgba(255, 255, 255, 0.09);
    padding: 18px 36px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(68, 0, 255, 0.09);
}

.btn2:hover {
    background-color: rgb(250, 246, 255);
    color: #050020;
    scale: 0.90;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn2:active {
    scale: 0.82;
    background-color: rgba(250, 246, 255, 0.9);
}

.banner {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content h6 {
    font-size: 22px;
    font-weight: normal;
    text-align: center;
}

.banner-content h2 {
    font-weight: 700;
    font-size: 58px;
    max-width: 65%;
    margin: 16px auto;
    text-align: center;
}

.banner-content p {
    font-size: 18px;
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
}

.square {
    width: 0;
    height: 0;
    margin: 20px auto 0;
    border: 2px solid;
    border-top: 30px solid rgb(250, 246, 255);
}

.arrow-down {
    width: 0;
    height: 0;
    margin: 0 auto;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid rgb(250, 246, 255);
}

.boxes .box img {
    filter: invert(100%);
    width: 50px;
}

.box h3 {
    font-size: 22px;
    font-weight: 500;
    margin: 30px 0 16px;
}

.box p {
    color: rgba(255, 255, 255, 0.75);
    font-size: 18px;
    margin-bottom: 40px;
}

.boxes {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
    max-width: 90%;
    margin: 0 auto;
    position: absolute;
    bottom: 70px;
}

.box {
    padding: 40px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 10px rgba(68, 0, 255, 0.09);
    backdrop-filter: blur(20px);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn3 {
    color: white;
    font-weight: 700;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.09);
    padding: 18px 36px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(68, 0, 255, 0.09);
}

.btn3:hover {
    background-color: rgb(250, 246, 255);
    color: #050020;
    scale: 0.90;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn3:active {
    scale: 0.82;
    background-color: rgba(250, 246, 255, 0.9);
}

.menu {
    display: none;
}

.menu img {
    filter: invert(100%);
    width: 24px;
}

main {
    overflow: hidden;
}

.sec2 {
    max-width: 90%;
    margin: 0 auto 200px;
    position: relative;
}

.blur-circle {
    position: absolute;
    right: -90px;
    bottom: -150px;
    width: 600px;
    height: 600px;
    background: radial-gradient(circle, #7f36ff80 0%, #05002000 70%);
    filter: blur(100px);
    z-index: 0;
    pointer-events: none;
}

.sec2>h2 {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 60px;
}

.sec2-graph {
    width: 550px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    position: relative;
}

.sec2-graph-bg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    align-items: end;
}

.sec2-graph-top {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    align-items: end;
    position: absolute;
    top: 0;
}

.sec2-1 {
    background-color: rgba(210, 183, 255, 0.15);
    height: 70%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 20px;
}

.sec2-2 {
    background-color: rgba(210, 183, 255, 0.15);
    height: 50%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.sec2-3 {
    background-color: rgba(210, 183, 255, 0.15);
    height: 30%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 20px;
}

.sec2-4 {
    background-color: #8740FF;
    height: 60%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.sec2-5 {
    background-color: #7422FF;
    height: 40%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.sec2-6 {
    background-color: #5F00FF;
    height: 20%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.sec2-graph-txt {
    position: absolute;
    width: 100%;
    bottom: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.graph-txt1 {
    margin-bottom: 200px;
    font-size: 20px;
    font-weight: 700;
    display: grid;
}

.graph-txt2 {
    font-size: 20px;
    font-weight: 700;
    display: grid;
}

.graph-txt3 {
    display: grid;
    margin-top: 200px;
    font-size: 20px;
    font-weight: 700;
}

.sec2-graph-txt span {
    font-size: 16px;
    margin-top: 6px;
    font-weight: normal;
}

.sec2-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.sec2-container>div {
    width: 50%;
}

.sec2-title {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px;
    margin-right: 40px;
}

.sec2-title h2 {
    font-size: 48px;
    font-weight: normal;
}

.sec2-title p {
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
}

.sec2-title2 {
    display: flex;
}

.description {
    color: rgba(255, 255, 255, 0.75);
    font-size: 24px;
}

.subtitle {
    font-size: 24px;
    margin: 40px 0;
}

.sec3 {
    max-width: 90%;
    margin: 0 auto 200px;
    position: relative;
}

.blur-circle2 {
    position: absolute;
    left: -90px;
    bottom: -250px;
    width: 600px;
    height: 600px;
    background: radial-gradient(circle, #7f36ff80 0%, #05002000 70%);
    filter: blur(100px);
    z-index: 0;
    pointer-events: none;
}

.sec3-contianer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.sec3-contianer>div {
    width: 50%;
}

.sec3-left {
    padding: 36px;
    border-radius: 36px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 10px rgba(68, 0, 255, 0.09);
    backdrop-filter: blur(20px);
}

.sec3-left img {
    width: 100%;
}

.sec3 h2 {
    font-size: 44px;
    font-weight: 700;
    display: grid;
    gap: 8px;
    margin-bottom: 60px;
}

.sec3-right-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.sec3-right {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.sec3-btn {
    color: white;
    font-weight: 700;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.09);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(68, 0, 255, 0.09);
    width: 100%;
}

.sec3-btn:hover {
    background-color: rgb(250, 246, 255);
    color: #050020;
    scale: 0.90;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.sec3-btn:active {
    scale: 0.82;
    background-color: rgba(250, 246, 255, 0.9);
}

.sec3 h3 {
    font-size: 44px;
    font-weight: 500;
}

.sec3 p {
    margin-top: 50px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.75);
}

.sec4 {
    max-width: 90%;
    margin: 0 auto 200px;
    position: relative;
}

.blur-circle3 {
    position: absolute;
    right: -190px;
    bottom: -50px;
    width: 600px;
    height: 600px;
    background: radial-gradient(circle, #7f36ff80 0%, #05002000 70%);
    filter: blur(100px);
    z-index: 0;
    pointer-events: none;
    border: 1px solid;
}

.blur-circle4 {
    position: absolute;
    left: -90px;
    bottom: -550px;
    width: 600px;
    height: 600px;
    background: radial-gradient(circle, #7f36ff80 0%, #05002000 70%);
    filter: blur(100px);
    z-index: 0;
    pointer-events: none;
    border: 1px solid;
}

.sec4 h2 {
    font-size: 44px;
    font-weight: 700;
    display: grid;
    gap: 8px;
    margin-bottom: 60px;
}

.sec4-container {
    padding: 58px 50px;
    border-radius: 36px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 10px rgba(68, 0, 255, 0.09);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.sec4 img {
    border-radius: 28px;
    width: 38%;
}

.sec4-container h3 {
    font-size: 144px;
    margin-bottom: 20px;
}

.sec4-container p {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.75);
    margin-top: 15px;
    line-height: 130%;
}

.sec4-container h5 {
    font-size: 28px;
    font-weight: 700;
    margin-top: 70px;
}

.sec4-container h6 {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
    margin-top: 12px;
}

.sec5 {
    max-width: 90%;
    margin: 0 auto 200px;
}

.sec5 h2 {
    font-size: 55px;
    font-weight: 700;
    text-align: center;
}

.sec5 p {
    font-size: 28px;
    margin: 35px 0 70px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}

.sec5-btns {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.sec5-input {
    color: white;
    font-weight: 700;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.09);
    border: 1px solid rgba(255, 255, 255, 0.09);
    padding: 18px 36px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(68, 0, 255, 0.09);
    width: 40%;
}

.sec5-input:focus {
    outline: none;
}

footer {
    background-color: rgba(255, 255, 255, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.09);
    padding: 100px 0 60px;
    position: relative;
}

.footer-container {
    max-width: 92%;
    margin: 0 auto 80px;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    align-items: center;
    gap: 50px;
}

footer h2 {
    font-family: 'Paytone One';
    font-size: 32px;
    font-weight: 500;
}

.footer-p {
    font-size: 24px;
    margin: 30px 0 40px;
    color: rgba(255, 255, 255, 0.85);
    max-width: 75%;
}

footer h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

footer h5 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.75);
    font-weight: normal;
}

footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
}

footer ul li a {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

footer ul li a:hover {
    color: white;
    transition: all 0.2s ease-in-out;
}

.footer-btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-btn {
    width: 100%;
}

footer hr {
    width: 75%;
    margin: 0 auto 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

footer h4 {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

.blur-circle5 {
    position: absolute;
    right: 600px;
    bottom: 0;
    width: 600px;
    height: 600px;
    background: radial-gradient(circle, #7f36ff80 0%, #05002000 70%);
    filter: blur(100px);
    z-index: 0;
    pointer-events: none;
    border: 1px solid;
}

@media screen and (max-width: 576px) {

    header,
    .sec2,
    .sec3,
    .sec4 {
        margin-bottom: 120px;
    }

    nav ul {
        display: none;
    }

    nav button {
        display: none;
    }

    .menu {
        display: flex;
        padding: 7px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.09);
        border: 1px solid rgba(255, 255, 255, 0.09);
        box-shadow: 0 0 10px rgba(68, 0, 255, 0.09);
    }

    .menu:hover {
        scale: 0.90;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .menu:active {
        scale: 0.82;
        background-color: rgba(166, 162, 170, 0.9);
    }

    nav {
        padding: 10px;
        border-radius: 10px;
        max-width: 88%;
    }

    nav h2 {
        font-size: 24px;
        text-align: right;
        width: 100%;
    }

    footer h2 {
        font-size: 24px;
    }

    header {
        padding-top: 40px;
        background: linear-gradient(to top, #05002044, #050020a2), url('../assets/banner-bg.jpg');
        background-position: top;
        height: fit-content;
        background-repeat: no-repeat;
    }

    /* Banner */
    .banner {
        height: 100%;
        width: 100%;
        justify-content: start;
    }

    .banner-content {
        width: 85%;
        margin: 80px auto;
    }

    .banner-content h6 {
        font-size: 18px;
        text-align: left;
    }

    .banner-content h2 {
        font-size: 36px;
        max-width: 85%;
        margin: 16px 0;
        text-align: left;
    }

    .banner-content p {
        font-size: 16px;
        text-align: left;
        max-width: 80%;
        margin: 0 0;
    }

    .square,
    .arrow-down {
        display: none;
    }

    .boxes {
        position: relative;
        flex-direction: column;
        max-width: 85%;
        margin: 50px auto 0;
        gap: 24px;
    }

    .box {
        padding: 20px;
        border-radius: 10px;
    }

    .box h3 {
        font-size: 16px;
        margin: 16px 0 10px;
    }

    .box p {
        font-size: 14px;
        margin-bottom: 16px;
    }

    .btn3 {
        font-size: 15px;
        padding: 16px;
        width: 100%;
    }

    .box img {
        width: 30px;
    }

    .sec2 h2 {
        font-size: 32px;
        text-align: center;
        margin-bottom: 40px;
    }

    .sec2-container {
        flex-direction: column;
    }

    .sec2-container>div {
        width: 100%;
    }

    .sec2-title {
        display: flex;
        align-items: center;
        justify-content: start;
        text-align: left;
        gap: 12px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        padding: 12px 0;
        width: 100%;
    }

    .sec2-title2 {
        flex-direction: column;
    }

    .sec2-title h2 {
        font-size: 28px;
        margin: 0;
        text-align: left;
    }

    .sec2-title p {
        font-size: 16px;
    }

    .sec2-title {
        margin-bottom: 22px;
    }

    .description {
        font-size: 18px;
    }

    .subtitle {
        font-size: 22px;
    }

    .sec2-graph-txt {
        bottom: 33%;
    }

    .graph-txt2 {
        margin-left: 10px;
    }

    .graph-txt1,
    .graph-txt2,
    .graph-txt3 {
        font-size: 16px;
    }

    .sec3 h2 {
        font-size: 32px;
        text-align: center;
        margin-bottom: 40px;
    }

    .sec3-contianer {
        flex-direction: column;
        gap: 45px;
    }

    .sec3-contianer>div {
        width: 100%;
    }

    .sec3-left {
        padding: 20px;
        border-radius: 20px;
    }

    .sec3-right-btns {
        flex-direction: column;
        gap: 15px;
        margin-bottom: 0;
    }

    .sec3-btn {
        font-size: 15px;
        padding: 16px;
        width: 100%;
    }

    .sec3 h3 {
        font-size: 28px;
        text-align: center;
        margin-bottom: 15px;
    }

    .sec3 p {
        margin-top: 30px;
        font-size: 20px;
        text-align: justify;
    }

    .sec3-right {
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
    }

    .sec4-container {
        flex-direction: column;
        padding: 35px 28px;
        border-radius: 22px;
    }

    .sec4-container img {
        width: 100%;
        border-radius: 18px;
    }

    .sec4-container h3 {
        font-size: 110px;
    }

    .sec4-container p {
        font-size: 22px;
    }

    .sec4 h2 {
        font-size: 32px;
        text-align: center;
        margin-bottom: 40px;
    }

    .sec5 h2 {
        font-size: 32px;
        margin-bottom: 18px;
    }

    .sec5 p {
        font-size: 18px;
        margin-bottom: 36px;
    }

    .sec5-btns {
        flex-direction: column;

        gap: 20px;
    }

    .sec5-input {
        width: 100%;
    }

    .sec5-btn {
        width: 100%;
    }

    .footer-container {
        max-width: 90%;
    }

    .footer-container {
        grid-template-columns: 1fr;
    }
    footer h4 {
        font-size: 20px;
    }
    .blur-circle5 {
        right: 100px;
        top: 100px;
    }
}

@media screen and (min-width: 577px) and (max-width: 799px) {
    .menu {
        display: flex;
    }

    .menu img {
        width: 40px;
    }

    .menu {
        display: flex;
        padding: 7px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.09);
        border: 1px solid rgba(255, 255, 255, 0.09);
        box-shadow: 0 0 10px rgba(68, 0, 255, 0.09);
    }

    .menu:hover {
        scale: 0.90;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .menu:active {
        scale: 0.82;
        background-color: rgba(166, 162, 170, 0.9);
    }

    nav ul {
        display: none;
    }

    nav {
        padding: 20px;
        gap: 20px;
        max-width: 88%;
        border-radius: 16px;
        margin-bottom: 240px;
    }

    nav h2 {
        font-size: 28px;
        flex-grow: 1;
    }

    footer h2 {
        font-size: 28px;
        flex-grow: 1;
    }

    nav div {
        gap: 14px;
    }

    .btn,
    .btn2 {
        font-size: 18px;
        padding: 12px 20px;
        border-radius: 8px;
    }

    header {
        padding-top: 40px;
        background: linear-gradient(to top, #05002044, #050020a2), url('../assets/banner-bg.jpg');
        background-position: top;
        height: auto;
        background-size: cover;
    }

    .banner-content h6 {
        font-size: 20px;
    }

    .banner-content h2 {
        font-size: 42px;
        max-width: 85%;
        margin: 12px auto;
    }

    .banner-content p {
        font-size: 16px;
        max-width: 70%;
    }

    .boxes .box img {
        width: 40px;
    }

    .box h3 {
        font-size: 20px;
        margin: 24px 0 12px;
    }

    .box p {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch;
        gap: 24px;
        max-width: 85%;
        margin: 100px auto 40px;
        position: relative;
    }

    .box {
        padding: 25px;
        border-radius: 16px;
    }

    .btn3 {
        font-size: 18px;
        padding: 16px 26px;
    }

    .sec2 h2 {
        font-size: 36px;
        text-align: center;
        margin-bottom: 50px;
    }

    .sec2-container {
        flex-direction: column;
    }

    .sec2-container>div {
        width: 100%;
    }

    .sec2-graph-txt {
        text-align: center;
    }

    .sec3 h2 {
        font-size: 36px;
        text-align: center;
        margin-bottom: 50px;
    }

    .sec3-contianer {
        flex-direction: column;
        gap: 50px;
    }

    .sec3-contianer>div {
        width: 100%;
    }

    .sec3-left {
        padding: 24px;
        border-radius: 24px;
    }

    .sec3-right-btns {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 0;
    }

    .sec3-btn {
        font-size: 16px;
        padding: 16px;
        width: 100%;
    }

    .sec3 h3 {
        font-size: 28px;
        text-align: center;
        margin-bottom: 15px;
    }

    .sec3 p {
        margin-top: 30px;
        font-size: 20px;
        text-align: justify;
    }

    .sec3-right {
        display: flex;
        flex-direction: column-reverse;
        gap: 60px;
    }

    .sec4 h2 {
        font-size: 36px;
        margin-bottom: 50px;
        text-align: center;
    }

    .sec4-container {
        flex-direction: column;
        padding: 45px 36px;
    }

    .sec4-container img {
        width: 100%;
    }

    .sec4-container h3 {
        font-size: 110px;
    }

    .sec4-container p {
        font-size: 22px;
    }

    .sec5 h2 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .sec5 p {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .sec5-input {
        width: 45%;
    }

    .footer-container {
        max-width: 90%;
    }

    .footer-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .footer1 {
        grid-column: 1 / span 2;
        margin-bottom: 30px;
    }

    .footer-btns {
        grid-column: 1 / span 2;
        margin-top: 30px;
    }
    .blur-circle5 {
        right: 200px;
        top: 100px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    .menu {
        display: flex;
    }

    .menu {
        display: flex;
        padding: 7px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.09);
        border: 1px solid rgba(255, 255, 255, 0.09);
        box-shadow: 0 0 10px rgba(68, 0, 255, 0.09);
    }

    .menu:hover {
        scale: 0.90;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .menu:active {
        scale: 0.82;
        background-color: rgba(166, 162, 170, 0.9);
    }

    .menu img {
        width: 50px;
    }

    nav ul {
        display: none;
    }

    nav {
        padding: 30px;
        gap: 30px;
        max-width: 88%;
        border-radius: 18px;
        margin-bottom: 350px;
    }

    nav h2 {
        font-size: 40px;
        flex-grow: 1;
    }

    footer h2 {
        font-size: 40px;
        flex-grow: 1;
    }

    nav div {
        gap: 14px;
    }

    .btn,
    .btn2 {
        font-size: 22px;
        padding: 16px 28px;
        border-radius: 12px;
    }

    header {
        padding-top: 70px;
        background: linear-gradient(to bottom, #0500201f, #05002063), url('../assets/banner-bg.jpg');
        background-size: cover;
        background-position: center;
        height: auto;
    }

    .banner-content h6 {
        font-size: 24px;
    }

    .banner-content h2 {
        font-size: 50px;
        max-width: 85%;
        margin: 14px auto;
    }

    .banner-content p {
        font-size: 20px;
        max-width: 70%;
    }

    .boxes .box img {
        width: 50px;
    }

    .box h3 {
        font-size: 22px;
        margin: 28px 0 16px;
    }

    .box p {
        font-size: 18px;
        margin-bottom: 36px;
    }

    .boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch;
        gap: 28px;
        max-width: 85%;
        margin: 100px auto 40px;
        position: relative;
    }

    .box {
        padding: 30px;
        border-radius: 18px;
    }

    .btn3 {
        font-size: 18px;
        padding: 18px 28px;
    }

    .sec2-container {
        flex-direction: column;
    }

    .sec2-container>div {
        width: 100%;
    }

    .sec2-graph-txt {
        text-align: center;
    }

    .sec2 h2 {
        font-size: 40px;
        text-align: center;
        margin-bottom: 55px;
    }

    .sec3 h2 {
        font-size: 40px;
        text-align: center;
        margin-bottom: 55px;
    }

    .sec3-contianer {
        flex-direction: column;
        gap: 55px;
    }

    .sec3-contianer>div {
        width: 100%;
    }

    .sec3-left {
        padding: 32px;
        border-radius: 32px;
    }

    .sec3-right-btns {
        flex-direction: column;
        gap: 24px;
        margin-bottom: 0;
    }

    .sec3-btn {
        font-size: 18px;
        padding: 16px;
        width: 100%;
    }

    .sec3 h3 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
    }

    .sec3 p {
        margin-top: 35px;
        font-size: 22px;
        text-align: justify;
    }

    .sec3-right {
        display: flex;
        flex-direction: column-reverse;
        gap: 80px;
    }

    .sec4-container {
        flex-direction: column;
        padding: 45px 38px;
    }

    .sec4-container img {
        width: 100%;
    }

    .sec4 h2 {
        font-size: 40px;
        text-align: center;
        margin-bottom: 55px;
    }

    .sec5 h2 {
        font-size: 40px;
        margin-bottom: 25px;
    }

    .sec5 p {
        font-size: 24px;
        margin-bottom: 50px;
    }

    .sec5-input {
        width: 40%;
    }

    .footer-container {
        grid-template-columns: 2fr 1fr 1fr 2fr;
        grid-template-rows: auto auto;
    }

    .footer1 {
        grid-column: 1/4;
    }

    .footer2 {
        grid-column: 4 / 5;
    }
    
    .footer3 {
        grid-column: 1/3;
    }
    
    .footer-btns {
        grid-column: 3/5;
        width: 70%;
        margin: 0 auto;
    }
    .blur-circle5 {
        right: 300px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1450px) {
    .boxes {
        bottom: 50px;
    }

    .sec3-contianer {
        flex-direction: column;
        gap: 80px;
    }

    .sec3-contianer>div {
        width: 100%;
    }

    .sec4-container img {
        width: 45%;
    }

    .sec5-input {
        width: 30%;
    }

    .footer-container {
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .footer-btns {
        grid-column: 1 / span 3;
        grid-row: 2;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .footer-btn {
        width: auto;
    }
    .blur-circle5 {
        right: 400px;
    }
}

@media screen and (min-width: 1451px) {
    .sec4-container img {
        width: 28%;
    }

    .sec5-input {
        width: 25%;
    }
}